# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
# Directory
finish/
sample_js/template/
node_modules/
Schoo_bootstrap/bootstrap-4.2.1-dist/css/*
Schoo_bootstrap/bootstrap-4.2.1-dist/js/*
Schoo_bootstrap/bootstrap-4.2.1/

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.local
*.identcache
*.dcu
*.exe
*.tds
*.ini
*.log
*.identcache
*.pos
*.~*~
*.fr3
*.stat
*.dres
*.rc
*.pdf
*.csv
*.vlb
*.lst
_Backup/
_PDF/
_CSV/
*.txt

!20201023全体会議.PDF
